Source: with
Section: devel
Priority: optional
Maintainer: "Ryan Northey" <ryan@synca.io>
Build-Depends: debhelper (>=11~), bash-completion, pandoc
Standards-Version: 4.1.4
Homepage: https://github.com/phlax/with

Package: with
Section: devel
Priority: optional
Architecture: all
Depends: kv, jq
Description: Run commands in registered directories
 Alias directories, and run commands in those directories,
 with autocompletion of commands and paths.
