#!/usr/bin/make -f

%:
	dh $@ --with bash-completion

override_dh_installman:
	mkdir -p debian/tmp
	pandoc --standalone --from gfm --to man README.md --output debian/tmp/with.1
	dh_installman
	rm -rf debian/tmp
