Package: with
Version: 0.0.1
Architecture: all
Essential: no
Maintainer: "Ryan Northey" <ryan@synca.io>
Installed-Size: 14
Section: custom
Priority: optional
Homepage: https://github.com/phlax/with
Description: Run commands in registered directories
